<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<input type="hidden" name="embed_cgiirc_presented" value="1"/>
			<input type="hidden" name="embed_cgiirc_old" value="<? VAR CGIEnabled ?>"/>
			<div class="checkbox">
				<input type="checkbox" name="embed_cgiirc_enable" id="opt_embed_cgiirc_enable" value="1"<? IF CGIEnabled ?> checked="checked"<? ENDIF ?> />
				<label for="opt_embed_cgiirc_enable">Network uses CGI:IRC</label>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
